* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
}

.app {
  background-image: url('./images/cold-bg.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./images/warm-bg.jpeg');
}

main {
  min-height: 100vh;
}